{{define "content"}}

<div class="col-md-8 col-md-push-2 col-sm-12" id="main" role="main">
    <h3 class="archive-title">
    {{if eq .Meta.Type "category"}}
        分类 {{.Meta.Name}} 下的文章
    {{else if eq .Meta.Type "tag"}}
        标签 {{.Meta.Name}} 下的文章
    {{end}}
    </h3>
{{$articlesLen:=len .Articles}}
{{if gt $articlesLen 0}}
{{range $key,$value := .Articles}}
    <article class="post-list">
        <div>
            <a class="post-title" href="/article?slug={{index $value "Slug"}}">{{index $value "Title"}}</a>
            <div class="pull-right p-time">
                <i class="glyphicon glyphicon-time"></i> {{index $value "Modified"}}
            </div>
        </div>
        <div class="post-content">
        {{index $value "Text"}}
        </div>
    </article>
{{end}}
{{else}}
    <article class="post">
        <h3 class="post-title">没有找到内容</h3>
    </article>
{{end}}

    <ul class="pager">
        <li class="previous">
            <a class="prev" href="/{{.Meta.Type}}/{{.Meta.Slug}}?p={{.PrevPage}}">&larr;Previous</a>
        </li>
        <li class="next">
            <a class="next" href="/{{.Meta.Type}}/{{.Meta.Slug}}?p={{.NextPage}}">Next&rarr;</a>
        </li>
    </ul>
</div><!-- end #main -->
{{end}}